.mainDashboardHome{
    display: block;
    text-align: center;
    margin: 2em;
}

.mainDashboardEdificio{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39em;
}

.caja{
    text-align: center;
}

.button-wrapper{
    display: flex;
    justify-content: space-evenly;
}

.botonExito{
    width: 100px;
}
